<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="TURBO_PHIMEntities" connectionString="metadata=res://*/TURBO_PHIM.csdl|res://*/TURBO_PHIM.ssdl|res://*/TURBO_PHIM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TURBO_PHIM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>