USE [TURBO_PHIM]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'09c68b75-ed35-420e-b291-a50e3796326f', N'Member')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'9b352b34-aa5c-4116-945a-f9bb478f4f74', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'e1414006-9b2e-448a-ae47-518c355c8a88', N'Super Admin')
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DanhMucTheLoai]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucTheLoai](
	[MaSo] [int] IDENTITY(0,1) NOT NULL,
	[TenTheLoai] [nvarchar](50) NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[MaSo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhMucTheLoai] ON
INSERT [dbo].[DanhMucTheLoai] ([MaSo], [TenTheLoai], [TinhTrang]) VALUES (0, N'Hành động', 1)
INSERT [dbo].[DanhMucTheLoai] ([MaSo], [TenTheLoai], [TinhTrang]) VALUES (1, N'Phiêu lưu', 1)
INSERT [dbo].[DanhMucTheLoai] ([MaSo], [TenTheLoai], [TinhTrang]) VALUES (2, N'Viễn tưởng', 1)
SET IDENTITY_INSERT [dbo].[DanhMucTheLoai] OFF
/****** Object:  Table [dbo].[DanhMucNuocSanXuat]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucNuocSanXuat](
	[MaSo] [int] IDENTITY(0,1) NOT NULL,
	[TenNuoc] [nvarchar](20) NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_NuocSX] PRIMARY KEY CLUSTERED 
(
	[MaSo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhMucNuocSanXuat] ON
INSERT [dbo].[DanhMucNuocSanXuat] ([MaSo], [TenNuoc], [TinhTrang]) VALUES (0, N'Mỹ', 1)
INSERT [dbo].[DanhMucNuocSanXuat] ([MaSo], [TenNuoc], [TinhTrang]) VALUES (1, N'Việt Nam', 1)
INSERT [dbo].[DanhMucNuocSanXuat] ([MaSo], [TenNuoc], [TinhTrang]) VALUES (2, N'Pháp', 1)
SET IDENTITY_INSERT [dbo].[DanhMucNuocSanXuat] OFF
/****** Object:  Table [dbo].[BangThamSo]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangThamSo](
	[MaSo] [int] IDENTITY(0,1) NOT NULL,
	[TenThamSo] [nvarchar](50) NULL,
	[KieuDuLieu] [nchar](10) NULL,
	[GiaTri] [nchar](30) NULL,
 CONSTRAINT [PK_BangThamSo] PRIMARY KEY CLUSTERED 
(
	[MaSo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangThamSo] ON
INSERT [dbo].[BangThamSo] ([MaSo], [TenThamSo], [KieuDuLieu], [GiaTri]) VALUES (0, N'SoPhimTrenMotTrang', N'int       ', N'5                             ')
INSERT [dbo].[BangThamSo] ([MaSo], [TenThamSo], [KieuDuLieu], [GiaTri]) VALUES (9, N'GiaTriTrangLonNhatMoiLanPhanTrang', N'int       ', N'5                             ')
SET IDENTITY_INSERT [dbo].[BangThamSo] OFF
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[DayRegister] [datetime] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [DayRegister]) VALUES (N'03d44a3d-aedb-4fdf-8c4d-caad4e6458f7', N'admin@admin.com', 0, N'ADdC8YjVJsmRbCm3FpLdKvm0TumbxsFnKoB1aQsEFSny311P5FGazEuGgHFOBIlraw==', N'99853799-33a4-40d0-aacf-f6ed3995a75e', NULL, 0, 0, NULL, 0, 0, N'admin@admin.com', CAST(0x0000A4A800000000 AS DateTime))
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [DayRegister]) VALUES (N'58c86370-94af-444f-9826-b3b4ac7f4e03', N'123@yahoo.com', 0, N'AOx3SdP253sD0xwwq26Z+GPW2Rivdpx6XN8iwJSnHESroWAEV8dmk6wG/yTqLzEbtw==', N'3fe5e5ff-86a8-4b7e-8a75-5ff4971e59b3', NULL, 0, 0, NULL, 1, 0, N'123@yahoo.com', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [DayRegister]) VALUES (N'8524c81d-cd0f-449c-b223-4535595f7b78', N'superadmin@turbo.com', 1, N'AK2a2ff4/1XYVzcp0R/R5Qu+53v6CMwTSQZUBkWQ45xuUtfGE2r8/quOS6ENf1t8GQ==', N'8e3066fc-2cdb-427e-8f51-ca69694aec83', NULL, 0, 0, NULL, 1, 0, N'superadmin@turbo.com', NULL)
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'03d44a3d-aedb-4fdf-8c4d-caad4e6458f7', N'09c68b75-ed35-420e-b291-a50e3796326f')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'03d44a3d-aedb-4fdf-8c4d-caad4e6458f7', N'9b352b34-aa5c-4116-945a-f9bb478f4f74')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'58c86370-94af-444f-9826-b3b4ac7f4e03', N'09c68b75-ed35-420e-b291-a50e3796326f')
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhVien]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVien](
	[MaSo] [nvarchar](128) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[TinhTrang] [bit] NULL,
	[GioiTinh] [bit] NULL,
	[Avatar] [nchar](100) NULL,
	[MS_TaiKhoan] [nvarchar](128) NULL,
 CONSTRAINT [PK_ThanhVien] PRIMARY KEY CLUSTERED 
(
	[MaSo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ThanhVien] ([MaSo], [HoTen], [DiaChi], [NgaySinh], [TinhTrang], [GioiTinh], [Avatar], [MS_TaiKhoan]) VALUES (N'19', NULL, NULL, NULL, 1, NULL, NULL, N'8524c81d-cd0f-449c-b223-4535595f7b78')
INSERT [dbo].[ThanhVien] ([MaSo], [HoTen], [DiaChi], [NgaySinh], [TinhTrang], [GioiTinh], [Avatar], [MS_TaiKhoan]) VALUES (N'20', N'Long uy', N'111111111111', CAST(0xCC390B00 AS Date), 1, 1, NULL, N'ea5ffd70-6553-4897-8116-e12a144b169d')
INSERT [dbo].[ThanhVien] ([MaSo], [HoTen], [DiaChi], [NgaySinh], [TinhTrang], [GioiTinh], [Avatar], [MS_TaiKhoan]) VALUES (N'21', NULL, NULL, NULL, 1, 1, NULL, N'58c86370-94af-444f-9826-b3b4ac7f4e03')
/****** Object:  Table [dbo].[Phim]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[MaSo] [int] IDENTITY(0,1) NOT NULL,
	[TenPhim] [nvarchar](100) NULL,
	[NoiDung] [ntext] NULL,
	[URL_Trailer] [nvarchar](50) NULL,
	[DiemDanhGia] [float] NULL,
	[MS_TheLoai] [int] NULL,
	[ThoiLuong] [float] NULL,
	[DienVien] [ntext] NULL,
	[DaoDien] [ntext] NULL,
	[MS_NuocSX] [int] NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[NgayPhatHanh] [date] NULL,
	[TinhTrang] [bit] NULL,
	[AnhBanner] [nvarchar](100) NULL,
 CONSTRAINT [PK_Phim] PRIMARY KEY CLUSTERED 
(
	[MaSo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Phim] ON
SET IDENTITY_INSERT [dbo].[Phim] OFF
/****** Object:  Table [dbo].[DanhSachPhimYeuThich]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachPhimYeuThich](
	[MaSo] [int] IDENTITY(0,1) NOT NULL,
	[MS_ThanhVien] [nvarchar](128) NULL,
	[MS_Phim] [int] NULL,
 CONSTRAINT [PK_DanhSachPhimYeuThich] PRIMARY KEY CLUSTERED 
(
	[MaSo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiNhanXet]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiNhanXet](
	[MaSo] [int] IDENTITY(0,1) NOT NULL,
	[MS_Phim] [int] NULL,
	[MS_TaiKhoan] [nvarchar](128) NULL,
	[NoiDung] [ntext] NULL,
	[NgayDang] [datetime] NULL,
	[TinhTrang] [bit] NULL,
	[TieuDe] [text] NULL,
 CONSTRAINT [PK_BaiNhanXet] PRIMARY KEY CLUSTERED 
(
	[MaSo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaiNhanXet] ON
SET IDENTITY_INSERT [dbo].[BaiNhanXet] OFF
/****** Object:  Table [dbo].[DanhGia]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaSo] [int] IDENTITY(0,1) NOT NULL,
	[MS_ThanhVien] [nvarchar](128) NULL,
	[MS_Phim] [int] NULL,
	[DiemDanhGia] [float] NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[MaSo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON
INSERT [dbo].[DanhGia] ([MaSo], [MS_ThanhVien], [MS_Phim], [DiemDanhGia]) VALUES (0, N'19', 0, 10)
INSERT [dbo].[DanhGia] ([MaSo], [MS_ThanhVien], [MS_Phim], [DiemDanhGia]) VALUES (1, N'19', 1, 9)
INSERT [dbo].[DanhGia] ([MaSo], [MS_ThanhVien], [MS_Phim], [DiemDanhGia]) VALUES (2, N'19', 0, 5)
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaSo] [int] IDENTITY(0,1) NOT NULL,
	[MS_ThanhVien] [nvarchar](128) NULL,
	[MS_BaiNhanXet] [int] NULL,
	[NoiDung] [ntext] NULL,
	[NgayDang] [date] NULL,
 CONSTRAINT [PK_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[MaSo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhChon]    Script Date: 06/02/2015 17:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhChon](
	[MaSo] [int] IDENTITY(0,1) NOT NULL,
	[MS_ThanhVien] [nvarchar](128) NOT NULL,
	[MS_BaiNhanXet] [int] NOT NULL,
 CONSTRAINT [PK_BinhChon] PRIMARY KEY CLUSTERED 
(
	[MaSo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BinhChon] ON
INSERT [dbo].[BinhChon] ([MaSo], [MS_ThanhVien], [MS_BaiNhanXet]) VALUES (1, N'ea5ffd70-6553-4897-8116-e12a144b169d', 9)
INSERT [dbo].[BinhChon] ([MaSo], [MS_ThanhVien], [MS_BaiNhanXet]) VALUES (2, N'ea5ffd70-6553-4897-8116-e12a144b169d', 9)
SET IDENTITY_INSERT [dbo].[BinhChon] OFF
/****** Object:  ForeignKey [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_BaiNhanXet_AspNetUsers]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[BaiNhanXet]  WITH CHECK ADD  CONSTRAINT [FK_BaiNhanXet_AspNetUsers] FOREIGN KEY([MS_TaiKhoan])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BaiNhanXet] CHECK CONSTRAINT [FK_BaiNhanXet_AspNetUsers]
GO
/****** Object:  ForeignKey [FK_BaiNhanXet_Phim]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[BaiNhanXet]  WITH CHECK ADD  CONSTRAINT [FK_BaiNhanXet_Phim] FOREIGN KEY([MS_Phim])
REFERENCES [dbo].[Phim] ([MaSo])
GO
ALTER TABLE [dbo].[BaiNhanXet] CHECK CONSTRAINT [FK_BaiNhanXet_Phim]
GO
/****** Object:  ForeignKey [FK_BinhChon_AspNetUsers]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[BinhChon]  WITH CHECK ADD  CONSTRAINT [FK_BinhChon_AspNetUsers] FOREIGN KEY([MS_ThanhVien])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BinhChon] CHECK CONSTRAINT [FK_BinhChon_AspNetUsers]
GO
/****** Object:  ForeignKey [FK_BinhChon_BaiNhanXet]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[BinhChon]  WITH CHECK ADD  CONSTRAINT [FK_BinhChon_BaiNhanXet] FOREIGN KEY([MS_BaiNhanXet])
REFERENCES [dbo].[BaiNhanXet] ([MaSo])
GO
ALTER TABLE [dbo].[BinhChon] CHECK CONSTRAINT [FK_BinhChon_BaiNhanXet]
GO
/****** Object:  ForeignKey [FK_BinhLuan_BaiNhanXet]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_BaiNhanXet] FOREIGN KEY([MS_BaiNhanXet])
REFERENCES [dbo].[BaiNhanXet] ([MaSo])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_BaiNhanXet]
GO
/****** Object:  ForeignKey [FK_BinhLuan_ThanhVien]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_ThanhVien] FOREIGN KEY([MS_ThanhVien])
REFERENCES [dbo].[ThanhVien] ([MaSo])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_ThanhVien]
GO
/****** Object:  ForeignKey [FK_DanhGia_Phim]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_Phim] FOREIGN KEY([MS_Phim])
REFERENCES [dbo].[Phim] ([MaSo])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_Phim]
GO
/****** Object:  ForeignKey [FK_DanhGia_ThanhVien]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_ThanhVien] FOREIGN KEY([MS_ThanhVien])
REFERENCES [dbo].[ThanhVien] ([MaSo])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_ThanhVien]
GO
/****** Object:  ForeignKey [FK_DanhSachPhimYeuThich_Phim]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[DanhSachPhimYeuThich]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachPhimYeuThich_Phim] FOREIGN KEY([MS_Phim])
REFERENCES [dbo].[Phim] ([MaSo])
GO
ALTER TABLE [dbo].[DanhSachPhimYeuThich] CHECK CONSTRAINT [FK_DanhSachPhimYeuThich_Phim]
GO
/****** Object:  ForeignKey [FK_DanhSachPhimYeuThich_ThanhVien]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[DanhSachPhimYeuThich]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachPhimYeuThich_ThanhVien] FOREIGN KEY([MS_ThanhVien])
REFERENCES [dbo].[ThanhVien] ([MaSo])
GO
ALTER TABLE [dbo].[DanhSachPhimYeuThich] CHECK CONSTRAINT [FK_DanhSachPhimYeuThich_ThanhVien]
GO
/****** Object:  ForeignKey [FK_Phim_NuocSX]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD  CONSTRAINT [FK_Phim_NuocSX] FOREIGN KEY([MS_NuocSX])
REFERENCES [dbo].[DanhMucNuocSanXuat] ([MaSo])
GO
ALTER TABLE [dbo].[Phim] CHECK CONSTRAINT [FK_Phim_NuocSX]
GO
/****** Object:  ForeignKey [FK_Phim_TheLoai]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD  CONSTRAINT [FK_Phim_TheLoai] FOREIGN KEY([MS_TheLoai])
REFERENCES [dbo].[DanhMucTheLoai] ([MaSo])
GO
ALTER TABLE [dbo].[Phim] CHECK CONSTRAINT [FK_Phim_TheLoai]
GO
/****** Object:  ForeignKey [FK_ThanhVien_AspNetUsers]    Script Date: 06/02/2015 17:44:43 ******/
ALTER TABLE [dbo].[ThanhVien]  WITH CHECK ADD  CONSTRAINT [FK_ThanhVien_AspNetUsers] FOREIGN KEY([MS_TaiKhoan])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ThanhVien] CHECK CONSTRAINT [FK_ThanhVien_AspNetUsers]
GO
