@{
    ViewBag.Title = "Xác nhận email";
}

<br />
<br />
<br />
<br />
<br />
<br />

<div class="text-center">
    <h2>Xác nhận email thành công</h2>
    <br />
    <p>
        Tài khoản của bạn đã được kich hoạt.
        <br /> 
        Vui lòng đăng nhập để bắt đầu. Trân trọng.
    </p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />