@{
    ViewBag.Title = "Xác nhận Email";
    
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h3 class="text-info text-center">
    Chúc mừng bạn đã đăng ký thành công tài khoản tại TURBO Phim
    <br/>
    Bạn vui lòng kiểm tra email và thực hiện xác nhận email để có thể sử dụng tài khoản. Trân trọng
</h3>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@*<p class="text-danger">
    For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    Please change this code to register an email service in IdentityConfig to send an email.
</p>*@
