@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<br />
<br />
<br />
<br />
<br />

<div class="text-center">
    <h2>
        Chúc mừng bạn đã khôi phục mật khẩu thành công.
        <br />
        Bạn vui lòng kiểm tra Email để hoàn tất việc khôi phục mật khẩu. Trân trọng
    </h2>
    @*<p class="text-danger">
        For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
        Please change this code to register an email service in IdentityConfig to send an email.
    </p>*@
</div>


<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />


