
@{
    ViewBag.Title = 
    Layout = "~/Views/Shared/_Admin_layout.cshtml";
    

}
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-centered">
            Bạn không có quyền truy cập chức năng này! Vui lòng đăng nhập với tài khoản khác có quyền cao hơn để tiếp tục! <br />
            Bấm vào @Html.ActionLink("đây", "LogOff", "Account") để đăng xuất và trở về trang chủ.
        </div>
    </div>
</div>