@{
    ViewBag.Title = "Khôi phục mật khẩu";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h2>
        Chúc mừng bạn đã lấy lại được mật khẩu của mình.

        <br />
        Bạn hãy dùng mật khẩu mới của mình để đăng nhập. Trân trọng.
    </h2>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

