@model IEnumerable<Turbo_Phim.Models.HistoryViewModels>
@{
    ViewBag.Title = "MyActivitiesLog";
}

<div class="content">


        <div class="main-content">

            <div class="btn-toolbar list-toolbar btnAddNewFilm">



            </div>

      @Html.Action("PagingMyActivitiesLog", "Manage")
        </div>


</div>



