@model IEnumerable<Turbo_Phim.Models.PhimViewModels>
@{
    ViewBag.Title = "MyListFilmLike";
}

    <script type="text/javascript">
        $(document).on("click", "#open-AddBookDialog", function () {
            var myBookId = $(this).data('id');
            $("#btnDeleteReview").val(myBookId);

        });

        $(document).ready(function () {
            $("#btnDeleteReview").click(function () {
                $.ajax({
                    type: "post",
                    url: '@Url.Action("DeleteFilm", "Review")',
                    data: { IDFilm: $(this).val() },
                    success: function (data) {

                        $("#myModal").modal('hide');

                        var id = $("#btnDeleteReview").val();
                        $("#" + id).remove();
                    },
                    error: function (data) {
                    }


                });

            });
        });
    </script>

<h2 class="text-center">Danh sách các bộ phim yêu thích của bạn</h2>
          

@Html.Action("PagingMyListFilmLike")



    <div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 id="myModalLabel">Xác nhận xóa bộ phim này</h2>
                </div>
                <div class="modal-body">
                    <p class="error-text"><i class="fa fa-warning modal-icon"></i>Bạn có chắc muốn xóa bộ phim này khỏi danh mục phim yêu thích?</p>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Hủy bỏ</button>
                    <button class="btn btn-danger" type="submit" value="" id="btnDeleteReview" name="codeFilm">Xóa</button>


                </div>
            </div>
        </div>

    </div>
<div class="clearfix"></div>

