
@{
    ViewBag.Title = "Videos";
}

<div class="right-content">
    <div class="right-content-heading">
        <div class="right-content-heading-left">
            <h3 class="head">Những bộ phim mới nhất</h3>
        </div>
    </div>
    @Html.Action("PagingIndex", "Video")
</div>