@using Microsoft.AspNet.Identity

@{
    Layout = null;
}

<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="" href="index.html"><span class="navbar-brand"><span class="fa fa-paper-plane"></span> Turbo Phim Admin</span></a>
    </div>

    <div class="navbar-collapse collapse">
        <ul id="main-menu" class="nav navbar-nav navbar-right">
           
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink(User.Identity.GetUserName(), "UpdateProfile", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })

                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
                    </ul>
                    }         
        </ul>
    </div>
</div>