<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="" href="index.html"><span class="navbar-brand"><span class="fa fa-paper-plane"></span> Turbo Phim Admin</span></a>
    </div>

    <div class="navbar-collapse collapse">
        <ul id="main-menu" class="nav navbar-nav navbar-right">
            <li class="hidden-xs">
                <a href='@Url.Action("Index", "Home")' id="logout">
                    <span class="glyphicon glyphicon-log-out padding-right-small"></span> Log out
                </a>
            </li>
            <li class="hidden-xs">
                <a href="#">
                    <span class="glyphicon glyphicon-user padding-right-small"></span> Vin Le
                </a>
            </li>
        </ul>
    </div>
</div>