<div class="col-xs-12 col-sm-4 col-md-4 ">

        <h6>Liên hệ : </h6>
   
        <label>Email: <a href="mailto:turbo@gmail.com">turbo@gmail.com</a></label>

        <label>Điện thoại: 0168.568.8129</label>

        <label>Địa chỉ: 227 Nguyễn Văn Cừ, Q.5, phòng I87</label>

        <label>Fax: 19091994</label>

        <div class="copyright">
            <label> Được thiết kế và phát triển bởi TURBO</label>
        </div>
   

   
</div>
<div class="col-xs-12 col-sm-4 col-md-4 ">

 

        <div><button class="btn btn-default" type="submit">Đăng ký tài khoản</button></div>
        <div><button class="btn btn-default" type="submit">Đăng nhập bằng facebook</button></div>
        <div><button class="btn btn-default" type="submit">Đăng nhập bằng tài khoản google</button></div>

  


</div>
<div class="col-xs-12 col-sm-4 col-md-4">
    <div>

    
            <form>

                <div class="form-group">

                    <label for="exampleInputEmail1">Tên đăng nhập:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1"
                           placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mật khẩu:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                           placeholder="Password">
                </div>


                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Đăng nhập !
                </button>
            </form>
      

    </div>


</div>