<div class="col-xs-12 col-sm-4 col-md-4 ">
    <div class="jumbotron">
        <h6>Liên hệ : </h6>
        <p class="claim"></p>

        <p>Email: <a href="mailto:turbo@gmail.com">turbo@gmail.com</a></p>

        <p>Điện thoại: 0168.568.8129</p>

        <p>Văn phòng: Tòa nhà Bitexco Quận 1, Tp.HCM</p>

        <div class="copyright">
            <p> Được thiết kế và phát triển bởi TURBO</p>
        </div>
    </div>
</div>