
<div class="footer">
    <div class="container">
        <p>Copyright &copy; 2015 Được thiết kế và phát triển bởi nhóm TURBO - Khoa công nghệ thông tin trường ĐH.Khoa Học Tự Nhiên TP.HCM </a></p>

        <div class="clearfix"></div>
    </div>
</div>