<div class="header">
    <div class="top-header">
        <div class="logo">
            <a href="index.html"><img src="~/Content/images/logo.png" alt="" /></a>

            <p>TURBO PHIM</p>
        </div>
        <div class="search">
            <form>
                <input type="text" value="Search.." onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Search..';}" />
                <input type="submit" value="">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="header-info">
        <h1>PHIM TOP</h1>

        <h1>BIG HERO 6</h1>

        <p class="age"><a href="#">All Age</a> Don Hall, Chris Williams</p>

        <p class="review">Đánh giá &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;8,5/10</p>

        <p class="review reviewgo">Thể loại &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;Hoạt hình, hành động</p>

        <p class="review">Ngày phát hành &nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;07/11/2014</p>

        <p class="special">
            Bộ phim kể về chuyến phiêu lưu đầy mạo hiểm của biệt đội siêu anh hùng big hero 6 cùng với sự
            góp mặt của BayMax....
        </p>
        <a class="video" href="#"><i class="video1"></i>XEM TRAILER</a>

    </div>


</div>