
    <div class="top-header">
        <div class="logo">
            <a href="index.html"><img src="~/Content/images/logo.png" alt="" /></a>
            <p>TURBO PHIM</p>
        </div>
        <div class="user">
            <a href='@Url.Action("Index", "AdminMain")'>
                <span class="glyphicon glyphicon-log-in padding-right-small" style="position:relative;top: 3px;"></span>
                Log in
            </a>
        </div>
        <div class="search">
          
                   @using(Html.BeginForm("SearchFilm","Review", FormMethod.Get))
                         {
                        <input type="text" placeholder="Search.." name="filmName"/>
                        <input type="submit" value="">    


            
               
                    }
                    
         
          
        </div>
       
        <div class="clearfix"></div>
    </div>
