
    <div class="top-header">
        <div class="logo">
            <a href="index.html"><img src="~/Content/images/logo.png" alt="" /></a>
            <p>TURBO PHIM</p>
        </div>
        <div class="user">
            <a href="#" data-toggle="modal" data-target="#registerModal">
                <span class="glyphicon glyphicon-log-in padding-right-small" style="position:relative;top: 3px;"></span>
                Log in
            </a>
        </div>
        <div class="search">
            <form>
                <input type="text" value="Search.." onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Search..';}" />
                <input type="submit" value="">
            </form>
        </div>
       
        <div class="clearfix"></div>
    </div>

<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Đăng ký tài khoản</h4>
            </div>
            <div class="modal-body">
                @Html.Action("Register","Account")
            </div>
            
        </div>
    </div>
</div>