
    <div class="top-header">
        <div class="logo">
            <a href="index.html"><img src="~/Content/images/logo.png" alt="" /></a>
            <p>TURBO PHIM</p>
        </div>
        <div class="search">
            <form>
                <input type="text" value="Search.." onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Search..';}" />
                <input type="submit" value="">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
