<div class="menu">
    <ul>
        <li>

        @Html.ActionLink("Home", "Index", "Home")       
        </li>
        <li>       
            @Html.ActionLink("Watching", "Index", "Video")
        </li>
        <li>      
            @Html.ActionLink("Reviews", "Index", "Review")
        </li>
        <li>       
            @Html.ActionLink("Contact", "Index", "Contact")
        </li>
    </ul>
</div>
