<div class="menu">
    <ul>
        <li>
<<<<<<< HEAD
           
=======
>>>>>>> a9f2b57f335bcb5bf6f92e06859148315b8aca10
        @Html.ActionLink("Home", "Index", "Home")       
        </li>
        <li>       
            @Html.ActionLink("Watching", "Index", "Video")
        </li>
        <li>      
            @Html.ActionLink("Reviews", "Index", "Review")
        </li>
        <li>       
            @Html.ActionLink("Contact", "Contact", "Home")
        </li>
    </ul>
</div>
