@model IEnumerable<Turbo_Phim.Models.PhimViewModels>
@{
    ViewBag.Title = "SimpleSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="reviews-section">
    <h3 class="head">Phim Review</h3>
    
    <div class="col-md-9 reviews-grids">

        @Html.Action("PagingSimpleSearch", "Search", new { page=1, fileName=ViewBag.filmName})
    </div>
    <div class="col-md-3 side-bar">
        <div class="featured">
            <h3>Các bài review nổi bật</h3>
            <ul>
                <li>
                    <a href="single.html"><img src="~/Content/images/f1.jpg" alt="" /></a>
                    <p>Plaguers - Review</p>
                </li>
                <li>
                    <a href="single.html"><img src="~/Content/images/f2.jpg" alt="" /></a>
                    <p>Priest - Review</p>
                </li>
                <li>
                    <a href="single.html"><img src="~/Content/images/f3.jpg" alt="" /></a>
                    <p>Avatar - Review</p>
                </li>
                <li>
                    <a href="single.html"><img src="~/Content/images/f4.jpg" alt="" /></a>
                    <p>Kỷ nguyên khủng long - Review</p>
                </li>
                <div class="clearfix"></div>
            </ul>
        </div>

        <div class="entertainment">
            <h3>Các bộ phim nổi bật</h3>
            <ul>
                <li class="ent">
                    <a href="single.html"><img src="~/Content/images/f6.jpg" alt="" /></a>
                </li>
                <li>
                    <a href="single.html">Xem ‘Bombay Velvet’ trailer</a>

                </li>
                <div class="clearfix"></div>
            </ul>
            <ul>
                <li class="ent">
                    <a href="single.html"><img src="~/Content/images/f5.jpg" alt="" /></a>
                </li>
                <li>
                    <a href="single.html">Xem ‘Bombay Velvet’ trailer </a>

                </li>
                <div class="clearfix"></div>
            </ul>
            <ul>
                <li class="ent">
                    <a href="single.html"><img src="~/Content/images/f3.jpg" alt="" /></a>
                </li>
                <li>
                    <a href="single.html">Xem ‘Bombay Velvet’ trailer </a>

                </li>
                <div class="clearfix"></div>
            </ul>
            <ul>
                <li class="ent">
                    <a href="single.html"><img src="~/Content/images/f4.jpg" alt="" /></a>
                </li>
                <li>
                    <a href="single.html">Xem ‘Bombay Velvet’ trailer </a>

                </li>
                <div class="clearfix"></div>
            </ul>
            <ul>
                <li class="ent">
                    <a href="single.html"><img src="~/Content/images/f2.jpg" alt="" /></a>
                </li>
                <li>
                    <a href="single.html">Xem ‘Bombay Velvet’ trailer </a>

                </li>
                <div class="clearfix"></div>
            </ul>
            <ul>
                <li class="ent">
                    <a href="single.html"><img src="~/Content/images/f1.jpg" alt="" /></a>
                </li>
                <li>
                    <a href="single.html">Xem ‘Bombay Velvet’ trailer </a>

                </li>
                <div class="clearfix"></div>
            </ul>
        </div>
        <div class="might">
            <h4>Có thể bạn sẽ thích</h4>
            <div class="might-grid">
                <div class="grid-might">
                    <a href="single.html"><img src="~/Content/images/mi.jpg" class="img-responsive" alt=""> </a>
                </div>
                <div class="might-top">
                    <p>Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="single.html">Lorem Ipsum <i> </i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="might-grid">
                <div class="grid-might">
                    <a href="single.html"><img src="~/Content/images/mi1.jpg" class="img-responsive" alt=""> </a>
                </div>
                <div class="might-top">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="single.html">Lorem Ipsum <i> </i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="might-grid">
                <div class="grid-might">
                    <a href="single.html"><img src="~/Content/images/mi2.jpg" class="img-responsive" alt=""> </a>
                </div>
                <div class="might-top">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="single.html">Lorem Ipsum <i> </i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="might-grid">
                <div class="grid-might">
                    <a href="single.html"><img src="~/Content/images/mi3.jpg" class="img-responsive" alt=""> </a>
                </div>
                <div class="might-top">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="single.html">Lorem Ipsum <i> </i></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="review-slider">
    <ul id="flexiselDemo1">
        @foreach (Turbo_Phim.Models.PhimViewModels p in Model)
        {
            <li><img src="@p.HinhAnh" alt="" /></li>
        }


    </ul>
    <script type="text/javascript">
        $(window).load(function () {

            $("#flexiselDemo1").flexisel({
                visibleItems: 8,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: false,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 2
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 3
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });
        });
    </script>
</div>