@{
    ViewBag.Title = "Contact";
}

<div class="contact">
    <div class="col-md-4 contact-top">
     
            <h3>Bạn muốn liên hệ với chúng tôi?</h3>
            <div>
                <span>Tên của bạn: </span>
            </div>
            <div>
                <input type="text" value="">
            </div>

            <div>
                <span>Email của bạn: </span>
            </div>
            <div>
                <input type="text" value="">
            </div>
            <div>
                <span>Tiêu đề:</span>
            </div>
            <div>
                <input type="text" value="">
            </div>
            <div>
                <span>Nội dung:</span>
            </div>
            <div>
                <textarea> </textarea>
            </div>
            <input type="submit" value="GỬI">
        </div>

    <div class="col-md-8 contact-top">
        <h3>Thông tin</h3>
        <ul class="social ">
            <li><span><i> </i>227 Nguyễn Văn Cừ, Quận 5, Thành phố Hồ Chí Minh </span></li>
            <li><span><i class="down"> </i>+ 00 123 456 7890</span></li>
            <li><a href="mailto:turbo@gmail.com"><i class="mes"> </i>turbo@gmail.com</a></li>
        </ul>
        <p>Hãy đến với chúng tôi! Nơi sẻ chia những cảm xúc ...</p>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3919.629790079955!2d106.68219739999999!3d10.762988599999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f19554afa79%3A0x961af94a35c6f42!2zVHJ1bmcgdMOibSBUaW4gaOG7jWMgdHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6puLCBUcsaw4budbmcgxJBIIEtob2EgaOG7jWMgVOG7sSBuaGnDqm4sIDIyNyBOZ3V54buFbiBWxINuIEPhu6ssIHBoxrDhu51uZyA0LCBRdeG6rW4gNSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1429537978643"></iframe>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
