@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Admin_layout.cshtml";
}

<div class="content">
    <div class="header-admin">
        <h1 class="page-title">Movies</h1>
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> </li>
            <li><a href="users.html">Movies</a> </li>
        </ul>
    </div>
    <div class="main-content">

       <h2> Đây là mục quản lý phim </h2>
    </div>
</div>