
@{
    ViewBag.Title = "Users";
  Layout = "~/Views/Shared/_Admin_layout.cshtml";
}


<div class="content">
    <div class="header-admin">
        <h1 class="page-title">Users</h1>
        <ul class="breadcrumb">
            <li><a href='@Url.Action("Index","AdminMain")'>Home</a> </li>
            <li class="active">Users</li>
        </ul>
    </div>

    <div class="main-content">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        @Html.Action("PagingIndex", "UsersAdmin")

      
    </div>
</div>

