#menufilms{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.search{
    width: 50% !important;
<<<<<<< HEAD
}
=======
}
>>>>>>> a9f2b57f335bcb5bf6f92e06859148315b8aca10
