@model Business.DanhMucNuocSanXuat
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Admin_layout.cshtml";
}


<script type="text/javascript" src="~/Scripts/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="~/Scripts/jqplot.pieRenderer.min.js"></script>
<script type="text/javascript" src="~/Scripts/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="~/Scripts/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="~/Scripts/jqplot.pointLabels.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/jquery.jqplot.min.css" />


<div class="content">
    <div class="header-admin">
        <div class="stats">
            <p class="stat"><span class="label label-info">5</span> Tickets</p>
            <p class="stat"><span class="label label-success">27</span> Tasks</p>
            <p class="stat"><span class="label label-danger">15</span> Overdue</p>
        </div>

        <h1 class="page-title">Dashboard</h1>
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> </li>
            <li class="active">Dashboard</li>
        </ul>

    </div>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div id="pie8" class ="main_Admin_div"> </div>

                    <script class="code" type="text/javascript">
                        $(document).ready(function () {

                            $.ajax({
                                type: "get",
                                url: '@Url.Action("getStatisticPhimForGenre", "AdminMain")',

                                success: function (data) {


                                    var obj = $.parseJSON(data);


                                    jQuery.jqplot.config.enablePlugins = true;



                                    var json = obj;//[['Sony', 7], ['Samsumg', 13.3], ['LG', 14.7], ['Vizio', 5.2], ['Insignia', 1.2]] ;

                                    var plot8 = $.jqplot("pie8", [json], {
                                        title: 'Biểu đồ % danh mục thể loại phim được đánh giá',

                                        grid: {
                                            drawBorder: false,
                                            drawGridlines: false,
                                            background: '#ffffff',
                                            shadow: false
                                        },
                                        axesDefaults: {

                                        },
                                        seriesDefaults: {
                                            renderer: $.jqplot.PieRenderer,
                                            rendererOptions: {
                                                sliceMargin: 4,

                                                showDataLabels: true
                                            }
                                        },
                                        legend: {
                                            show: true,
                                            rendererOptions: {
                                                numberRows: 5
                                            },
                                            location: 's'
                                        }
                                    });

                                },
                                error: function (data) {

                                   // alert("failed");
                                }


                            });

                        });

                    </script>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <div id="pie9"class="main_Admin_div"></div>
                    <script class="code" type="text/javascript">
                        $(document).ready(function () {

                            $.ajax({
                                type: "get",
                                url: '@Url.Action("getStatisticPhimForCountry", "AdminMain")',

                                success: function (data) {


                                    var obj = $.parseJSON(data);


                                    jQuery.jqplot.config.enablePlugins = true;



                                    var json = obj;

                                    var plot8 = $.jqplot("pie9", [json], {
                                        title: 'Biểu đồ % danh mục nước sản xuất được đánh giá',
                                        grid: {
                                            drawBorder: false,
                                            drawGridlines: false,
                                            background: '#ffffff',
                                            shadow: false
                                        },
                                        axesDefaults: {

                                        },
                                        seriesDefaults: {
                                            renderer: $.jqplot.PieRenderer,
                                            rendererOptions: {
                                                showDataLabels: true
                                            }
                                        },
                                        legend: {
                                            show: true,
                                            rendererOptions: {
                                                numberRows: 5
                                            },
                                            location: 's'
                                        }
                                    });

                                },
                                error: function (data) {

                                  //  alert("failed");
                                }


                            });

                        });

                    </script>
                </div>

            </div>
            <div class="row">
                <div id="chart1" class ="main_Admin_div2"></div>
                <script>
                    $(document).ready(function () {

                        $.ajax({
                            type: "get",
                            url: '@Url.Action("getStatisticReview", "AdminMain")',

                            success: function (data) {
                              
                                var line1 = $.parseJSON(data);
                                var plot1 = $.jqplot('chart1', [line1], {
                                    title: 'Số lượng bài Review trong năm',
                                    seriesDefaults: {
                                        showMarker: true,
                                        pointLabels: { show: true }
                                    },
                                    axes: { xaxis: { pad: 0.5 } }
                                });

                            }
                        });


                        
                    });




                </script>



            </div>










        <footer>
            <hr>

            <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
            <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
            <p>© 2014 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
        </footer>
    </div>
</div>

</div>